@import "speakerwire.css";

.action {
    grid-area: action;
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.current-connections {
    display: grid;
    grid-template-rows: 3rem 6rem;
    grid-template-columns: 20% 80%;
    grid-template-areas: "header header"
                         "subject body";
    border: 2px solid var(--dark-color);
    margin: 1rem;
    box-shadow: 3px 3px var(--mid-color);

}

.current-connections__header {
    grid-area: header;
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: double;
    color: var(--light-color);
    background-color: var(--mid-color);
}

.current-connections__body {
    grid-area: body;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.current-connections__subject {
    grid-area: subject;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    border-right: 3px solid black;
}

.filter {
    display: grid;
    grid-template-rows: repeat(5, 3rem);
    grid-template-columns: 75% 25%;
    grid-template-areas: "filterheader filterheader"
                         "genrefilter genrefilter"
                         "tagfilter tagfilter"
                         "durationfilter durationfilter"
                         "inputfilter go";
    border: 2px solid var(--dark-color);
    margin: 1rem;
    box-shadow: 3px 3px var(--mid-color);

}

.filter__duration {
    grid-area: durationfilter;
    grid-column: 1 / span 2;
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.filter__genre {
    grid-area: genrefilter;
    grid-column: 1 / span 2;
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}
 
.filter__header {
    grid-area: filterheader;
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: double;
    color: var(--light-color);
    background-color: var(--mid-color);
}



.filter__tag {
    grid-area: tagfilter;
    grid-column: 1 / span 2;
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.filter__speaker-search {
    grid-area: inputfilter;
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.filter__submit-button {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}
 
.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20rem .1rem 80rem auto;
    grid-template-areas:"nameplate nameplate nameplate headshot headshot headshot"
                        "hrule hrule hrule hrule hrule hrule"
                        "action action action action schedule schedule"
                        "result result result result result result";
    min-width: 90vw;
    min-height: 100vh;
    margin: 1rem;
    background-color: var(--light-color);
}

.headshot-container {
    grid-area: headshot;
    grid-column: 4 / span 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hrule {
    grid-area: hrule;
    column-span: 6;
}

.nameplate {
    grid-area: nameplate;
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
}

.nameplate__name {
    margin: 1rem;
}

.nameplate__location {
    margin: 1rem;
}

.nameplate__description {
    margin: 1rem;
}

.upcoming-card {
    border: 2px solid black;
    margin: 0.5rem;
    padding: 0.25rem;
    background-color: var(--light-color);
}

.upcoming-card__status-booked {
    color: var(--coral);
    align-self: right;
    margin-left: 1rem;
    text-shadow: 1px 1px 1px black;
}

.upcoming-card__status-pending {
    color: var(--gold);
    align-self: right;
    margin-left: 1rem;
    text-shadow: 1px 1px 1px black;
}

.upcoming-card__status-container {
    display: flex;
}

.upcoming-events-container {
    display: flex;
    flex-direction: column;
    grid-area: schedule;
    grid-column: 5 / span 2;
    background-color: var(--mid-color);
    margin: 2rem 1rem 0.5rem 0.5rem;
    padding: 0.5rem;
}

.upcoming-title {
    color: var(--light-color);
    align-self: center;    
}

