.upcoming-card {
    border: 2px solid black;
    margin: 0.5rem;
    padding: 0.25rem;
    background-color: var(--light-color);
}

.upcoming-card__status-booked {
    color: var(--coral);
    align-self: right;
    margin-left: 1rem;
    text-shadow: 1px 1px 1px black;
}

.upcoming-card__status-pending {
    color: var(--gold);
    align-self: right;
    margin-left: 1rem;
    text-shadow: 1px 1px 1px black;
}

.upcoming-card__status-container {
    display: flex;
}

.upcoming-card__event-name {
    margin-left: 1rem;
}

.upcoming-card__talk-title {
    margin-left: 1rem;
}

.upcoming-card__duration {
    margin-left: 1rem;
}

.upcoming-card__location {
    margin-left: 1rem;
}

.upcoming-card__date {
    margin-left: 1rem;
}

.upcoming-card__host {
    margin-left: 1rem;
}

.upcoming-events-container {
    display: flex;
    flex-direction: column;
    grid-area: schedule;
    grid-column: 5 / span 2;
    background-color: var(--mid-color);
    margin: 2rem 1rem 0.5rem 0.5rem;
    padding: 0.5rem;
}

.upcoming-title {
    color: var(--light-color);
    align-self: center;    
}