@import "speakerwire.css";

.action {
    grid-area: action;
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.filter {
    display: grid;
    grid-template-rows: repeat(5, 3rem);
    grid-template-columns: 75% 25%;
    grid-template-areas: "filterheader filterheader"
                         "genrefilter genrefilter"
                         "tagfilter tagfilter"
                         "durationfilter durationfilter"
                         "inputfilter go";
    border: 2px solid var(--dark-color);
    margin: 1rem;
    box-shadow: 3px 3px var(--mid-color);
}

.filter__duration {
    grid-area: durationfilter;
    grid-column: 1 / span 2;
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.filter__genre {
    grid-area: genrefilter;
    grid-column: 1 / span 2;
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}
 
.filter__header {
    grid-area: filterheader;
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: double;
    color: var(--light-color);
    background-color: var(--mid-color);
}

.filter__tag {
    grid-area: tagfilter;
    grid-column: 1 / span 2;
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.filter__speaker-search {
    grid-area: inputfilter;
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.filter__submit-field {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}
 
.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20rem .1rem auto auto;
    grid-template-areas:"nameplate nameplate nameplate headshot headshot headshot"
                        "hrule hrule hrule hrule hrule hrule"
                        "action action action action schedule schedule"
                        "result result result result schedule schedule";
    min-width: 90vw;
    min-height: 100vh;
    margin: 0px;
    background-color: var(--lighter-color);
}

.headshot-container {
    grid-area: headshot;
    column-span: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hrule {
    grid-area: hrule;
    column-span: 6;
}

.nameplate {
    grid-area: nameplate;
    column-span: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    margin: 0 0 0 1rem;
}

.nameplate__name {
    margin: 1rem 0 1rem 0;
    font-size: 40px;
    font-weight: 900;
}

.nameplate__location {
    margin: 0.5rem 0 0.5rem 0;
}

.nameplate__bio {
    margin: 0.5rem 0 1rem 0;
}

.search-results{
    grid-area: result;
    column-span: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
}

