<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpeakerWire</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/loading.css">
    <link rel="stylesheet" href="../static/css/loading.css">
    <link rel="stylesheet" href="/css/speakerwire.css">
    <link rel="stylesheet" href="../static/css/speakerwire.css">
    <link rel="stylesheet" href="../static/css/forms.css">
    <link rel="stylesheet" href="/css/forms.css">

</head>

<body>
    <div class="wrapper wrapper-image">

        <article class="log-in__host">

            <button><a href="#openHostLogInModal">Host</a></button>
            <!-- This is the modal for the host log in -->
            <div id="openHostLogInModal" class="modalDialog">
                <div>
                    <a href="#close" title="Close" class="close">X</a>
                    <h2>Host Log In</h2>
                    <form action="/host/32">
                        <fieldset>
                            <div class="hostID">
                                <label>Host ID:</label>
                                <input type="text"></input>
                            </div><br>
                            <div class="hostPassword">
                                <label>Host Password:</label>
                                <input type="text"></input>
                            </div><br>
                            <input type="submit" value="Log In" />
                        </fieldset>
                    </form>
                </div>
            </div>

        </article>

        <article class="log-in__register">
            <button>Register</button>
            <!-- redirects to register page -->
        </article>

        <article class="log-in__speaker">

            <button><a href="#openSpeakerLogInModal">Speaker</a></button>
            <!-- This is the modal for the speaker log in -->
            <div id="openSpeakerLogInModal" class="modalDialog">
                <div>
                    <a href="#close" title="Close" class="close">X</a>
                    <h2>Speaker Log In</h2>
                    <form action="/speaker/19">
                        <fieldset>
                            <div class="speakerID">
                                <label>Speaker ID:</label>
                                <input type="text"></input>
                            </div><br>
                            <div class="speakerPassword">
                                <label>Speaker Password:</label>
                                <input type="text"></input>
                            </div><br>
                            <input type="submit" value="Log In" />
                        </fieldset>
                    </form>
                </div>
            </div>

        </article>

        <h1 class="appname">SpeakerWire</h1>
        <div class="left-margin"></div>
        <div class="blurb">where speakers connect</div>
    </div>
</body>

<footer>

</footer>

</html>