<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpeakerWire</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/loading.css">
    <link rel="stylesheet" href="/css/speakerwire.css">

</head>

<body>
    <div class="wrapper wrapper-image">

        <article class="log-in__host">
            <button th:href="|/host/7|">Host</button>
            <!-- redirects to host log in page th:href="|/host/${host.id}|" -->
        </article>

        <article class="log-in__register">
            <button>Register</button>
            <!-- redirects to register page -->
        </article>

        <article class="log-in__speaker">
            <button th:href="|/speaker/1|">Speaker</button>
            <!-- redirects to speaker log in page th:href="|/speaker/${speaker.id}|"-->
        </article>
        
        <h1 class="appname">SpeakerWire</h1>
        <div class="left-margin"></div>
        <div class="blurb">where speakers connect</div>
    </div>
</body>

<footer>

</footer>

</html>