<div class="talk-card" th:each="talk : ${filteredTalks}">
    <h1 class="title" th:text="${talk.title}">TalkTitle</h1>
    <h2 class="description" th:text="${talk.description}">TalkDescription</h2>
    <h3 class="length" th:text="${talk.duration.displayDuration}">TalkDuration</h3>
    <!-- <article class="speaker">
        <button th:text="${talk.speaker}">SpeakerName</button>
    </article> -->
    <div class="genres" th:each="genre : ${talk.genres}">
        <p class="genre" th:text="${genre.name}"></p>
    </div>
    <div class="tags" th:each="tag : ${talk.tags}">
        <p class="tag" th:text="${tag.name}"></p>
    </div>
    <div class="movie-container">
        <iframe th:src="${talk.iFrame}" width="560" height="315" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>